# dependencies
.DS_Store
desktop.ini

# python cache
*.pyc
*/__pycache__/
*/.ipynb_checkpoints/

# python env
.venv/

# mypy cache
*/.mypy_cache/

# environment variables
*/.env

# test files
*/tests/
